*.o 
*.elf 
*.lst 
*.su 
*.bin 
*.map 
*.hex 
*.asm


# 忽略IAR工程文件和文件夹
Debug/
settings/
*.dep
*.ewd
*.ewt

# 忽略IAR输出文件
Obj/
Exe/
List/

# 忽略ameba1项目中的部分特殊文件
**/EWARM-RELEASE/main.icf
**/EWARM-RELEASE/tmp.board
**/inc/build_info.h


